<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Sederhana</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- Library -->
    <script
      src="https://kit.fontawesome.com/d00fc238f0.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="container">
      <header>
        <h1>About Me</h1>
      </header>
      <nav>
        <a href="../index.html">Home</a>
        <a href="../index.html#article">Artikel</a>
        <a href="about.html" class="active">About</a>
        <a href="kontak.html">Kontak</a>
      </nav>

      <section class="container-about">
        <div class="bio">
          <h1>Profile</h1>
          <img src="../img/fotobasri.jpeg" alt="" />
          <h4>Basri Sangaji</h4>
          <p>Mahasiswa</p>
          <p class="about">
            "Hai, perkenalkan nama saya Ariza Malik Ismail, atau biasa dipanggil Ariza. Saya merupakan seorang mahasiswa semester 4 jurusan Teknik Informatika dari Universitas Pelita Bangsa."
          </p>
        </div>
      </section>
      <footer>
        <p>&copy; 2023 - Universitas Pelita Bangsa</p>
      </footer>
    </div>
  </body>
</html>