<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Sederhana</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- Library -->
    <script
      src="https://kit.fontawesome.com/d00fc238f0.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="container">
      <header>
        <h1>Contact Me</h1>
      </header>
      <nav>
        <a href="../index.html">Home</a>
        <a href="../index.html#article">Artikel</a>
        <a href="about.html">About</a>
        <a href="kontak.html" class="active">Kontak</a>
      </nav>
      <div class="container-kontak">
        <section class="medsos">
          <div class="social">
            <a href="#" class="fb"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="ig"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="yt"><i class="fa-brands fa-youtube"></i></a>
          </div>
          <h1>Contact Me..</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
            dolore harum nobis, quod adipisci, ea dolores nihil velit dolorem
            repellat alias eveniet dolor consequuntur tenetur, quo recusandae
            illum consectetur voluptatibus.
          </p>
        </section>
        <section class="form">
          <form action="#">
            <input type="text" class="form-control" placeholder="Nama" />

            <input type="email" class="form-control" placeholder="Email" />

            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              class="form-control"
              placeholder="Pesan"
            ></textarea>

            <button>Submit</button>
          </form>
        </section>
      </div>
      <footer>
        <p>&copy; 2023 - Universitas Pelita Bangsa</p>
      </footer>
    </div>
  </body>
</html>